Give your page a title
Use different heading tags for text
Use paragraphs
Include images (at least 1 local file)
Include at least 3 different links
Demonstrate text formatting (bold, italics, etc)
Show unordered and ordered lists
Demonstrate each feature from the "Advanced HTML Tags" section (iFrames are optional)
 
At minimum, use the following in your CSS file:

Background Properties like:
background-color
background-image
Text Properties
Font properties like:
font-family
font-size
Dimensional Properties like:
height
width
Links Properties
here are some examples
List Properties
