h1 {
    color: rgb(100,0,150);
    font-family: Helvetica,"sans-serif"; 
}
body {
    background: rgb(150,0,200) url("Best Pikachu.jpg") repeat-y;
}
p {
    color: rgb(255,255,255);
    font-family: Helvetica,"sans-serif" 
}
